# Core scientific packages
#numpy==1.22.2    #paquete instalado con pytorch
#pandas==1.5.3  #paquete instalado con pytorch
plotly==6.3.0

# Scikit-learn compatibility helpers
scikit-learn==1.2.0
scikit-optimize==0.10.2
imbalanced-learn==0.10.1

# NLP / Transformers
transformers==4.51.3  # versión estable sin flash-attn por defecto
sentence-transformers==5.1.0
adapters==1.2.0
langid==1.1.6
langchain==0.3.27
sentencepiece
nltk==3.9.1

# Utils
openpyxl==3.1.5
jupyter==1.1.1
mlflow==3.3.1

#Optuna
optuna==4.5.0


