# Basic data handle
numpy
pandas
# Notebooks
jupyter
# Language identification
langid==1.1.6
# Sturtural langchain libraries
langchain-core
langchain
# Integration Packages
langchain-ollama
langchain-huggingface
# Huggingface transformers
transformers==4.51.3